.todoItem-component{
    padding: 10px;
}
.todoItem-checkbox.checked > label{
    text-decoration: line-through 1px solid rgb(192, 189, 189);
    color: rgb(192, 189, 189);
}
.delete-todoItem-btn{
    color: red;
}