.app-todos{
  font-family: 'Oswald', sans-serif;
  background-image: linear-gradient(white,rgb(173, 226, 189),rgb(120,200,200),white);
  
}
.header-todo{
  text-align: center;
  margin: 20px;
  font-size: 3em;
}